@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*--------------------------------------------Header Alert Bar--------------------------------*/
.alert-danger
{
 background-color: #f71505;
 color:#fafafa;
 text-align:center;
 font-family: Roboto, sans-serif;
 margin-bottom:0;
 border-color: #f71505;
 border-radius: 0%;
 }
 
 .alert-danger a{
     color:#fafafa
 }

i:hover, a:hover{
     color:#09e644;
     text-decoration: none;
 }
 

 /*--------------------------------------------Header-----NAVBAR------------*/

header {
    border-bottom: 2px solid #f71505;
}

  .navbar-light{
     background-color: #000000;
     margin:0;
     font-family: Roboto, sans-serif;
     color:#fafafa;
     text-align: left;
     padding: 20px 20px 20px 20px;
     width:100%;
 }

 .navbar-light a {
    font-family: Roboto, sans-serif;
    color:#fafafa;
 }

 /*--------------ask about leaving this out of the mobile version @media only screen and (max-width: 768px)
 {.drop-search, .nav-item} ------*/

.navbar-expand-sm .nav-item{
   text-align:left;
   padding-top: 5px;
 }

 .navbar-light a:hover{
     color:#09e644;
 }

 .navbar-nav .current{
     background-color: #f71505;
 }


/*--------Div left white "gutter" far left and right outside nav bar*/
.black-bar{
background-color:#000000;

}

.navbar-toggler-icon{
    background-color:#f71505;
}

/*--------------------------------------------Section Landing page ( Need to fix image in mobile deviceimages directory works + Source code from Whiskey drop project)/*/

.jumbotron{
    background-image:url("../images/temple-lean-bg.jpg");
    background-size:100% no-repeat center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    color:#fafafa;
    text-shadow: 2px 2px #0f0f0f;
    font-family: Roboto, sans-serif;
    text-align:center;
    margin-bottom:0;
    padding-bottom: 125px;
}

/*---------Code functioning--- */
.fitness-callout {
    background-color:#000000; 
    height: 100vh;
    margin-bottom:0;
} 


/*--------------------------------------------General icons/*/

i{
    font-family:Roboto, sans-serif;
    color:#fafafa;
    font-size: 16px;
}

/*--------------------------------------------Footer-------------------------------------------------------*/
 
footer{
     background-color:#000000;
     font-family: Roboto, sans-serif;
     color:#fafafa;
     padding-bottom:20px;
     margin-top:0;
     padding-top: 10px;
     border-top: 2px solid #f71505;

 }

.footer-media i {
    font-size: 36px;
    padding-left:150px;
    color:#fafafa;
}

.social-media i {
     font-size: 36px;
     padding-right: 30px;
}

.footer-media i:hover {
color:#09e644;
}



/*-----Fitness Classes and Facilities---*/

h2{
    text-decoration: underline;
}

.weight-room{
  background-image:url("../images/weight-room-bg.jpg");
  background-size:100% 100%; 
  filter:brightness (80%);
  color:#ffffff; 
  text-shadow:2px 2px #f71505 ;    
}

.cardio-gym{
  background-image:url("../images/cardio-room.jpg");
  background-size:100% 100%;
  filter:brightness (80%);
  color:#fafafa; 
  text-shadow:2px 2px #f71505 ;  
}

.killer-kettlebells{
background-image:url("../images/killer-kettlebells.jpg");
  background-size:100% 100%;
  filter:brightness (80%);
  color:#fafafa; 
  text-shadow:2px 2px #f71505 ; 
   
}
.grit-fitness{
background-image:url("../images/grit-fitness.jpg");
  background-size:100% 100%; 
  filter:brightness (80%);
  color:#fafafa; 
  text-shadow:2px 2px #f71505 ;
}

.yin-yoga{
background-image:url("../images/yin-yoga.jpg");
  background-size:100% 100%;
  filter:brightness (80%);
  color:#fafafa; 
  text-shadow:2px 2px #f71505; 
}

.power-pilates{
background-image:url("../images/power-pilates.jpg");
  background-size:100% 100%;
  filter:brightness (80%);
  color:#fafafa; 
  text-shadow:2px 2px #f71505;  
}

.weight-room .weight-room-dropdown, .cardio-gym .cardio-gym-dropdown, .yin-yoga .yin-yoga-dpd, .killer-kettlebells .killer-kettlebells-dpd{
    color:#000000;
    font-family: Roboto, sans-serif;
    text-shadow:none;
    max-width: 250px;
    padding: 10px 10px 10px 10px;
    height:250px;
}

/*---------------------------------------------Trainers page-------------------------------------------------------------*/

.andrew-image, .julie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius:50%;
    padding-bottom:10px;
    padding-top:20px;
    padding-left:10px;
    margin-bottom:0;
}

.andrew-bio, .julie-bio {
background-color: #000000;
font-family: Roboto, sans-serif; 
color:#fafafa;
padding-top:25px;
padding-bottom: 10px;
padding-left:50px;
padding-right: 10px;
width:100%;
justify-content: center;
margin-top: 50px;
}

.modal-content{
    color: #000000;
    font-family: Roboto, sans-serif;
    
}

/*-----------------------------------------Contact us page-----------------------------------------------------------*/

/*----------Try adding a border to the section on this page-----------------------------------------------------------*/

.color-bg{
  background-color: #000000;
  border-color: 2px solid #f71505; 
  border-left-color: #f71505;
  border-right-color: #f71505;  
}

.gym-info h2, .gym-info p, .gym-info a{
color:#fafafa;
 text-align:center;
 font-family: Roboto, sans-serif;
 padding-top: 15px;
}


.form-group{
    color:#fafafa;
    padding:15px 10px 15px 10px; 
}

/*------General Housekeeping---*/

 h3{
  color: #fafafa;
  text-shadow: 2px 2px #f71505;
  font-family: Roboto, sans-serif; 
  filter:brightness(150%);   
}

ul{
    list-style-type: none; 
    filter:brightness(100%);
}

/*------------------------------------Media Query section-----------------------------------------*/
@media only screen and (min-width: 768px) 
{
    .nav-item {padding-left: 60px;}
    .nav-item {padding-right: 90px;}
 }

@media only screen and (max-width: 1024px)
{ 
    .jumbotron { padding-bottom:20px;} 

}
